@model KickScooterSharing.Models.Product
<div class="card mx-auto w-100">
    <div class="card-header text-center">
        <h5 class="mx-auto">Scooter info</h5>
    </div>
    <div class="card-body">
        <h3>Model : @Model.Name</h3>
        <h3>Status : @Model.Status.Name</h3>
        <h3>Tariff : @Model.Tariff.Name</h3>
        <h3>Start price : @Model.Tariff.StartPrice</h3>
        <h3>Cost per minute : @Model.Tariff.CostPerMinute</h3>
    </div>
    <div class="card-footer btn-group">
            <button class="btn-block btn-lg btn-success" onclick="order(@Model.ScooterId)">order</button>
    </div>

</div>