@model IEnumerable<KickScooterSharing.Models.Product>
<p>
    <a asp-action="Create">Create New Product</a>
</p>
<div class="container-fluid">
    <div class="row justify-content-center">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tariff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Scooter)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Tariff.Name
                        </td>
                        <td>
                            @item.Scooter.Number
                        </td>
                        <td>
                            @item.Status.Name
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> /
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> /
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>